[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
django-extensions = "*"
django-debug-toolbar = "*"
pandas = "*"
numpy = "*"
django-pandas = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
Django = "*"
geojson = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.7"
